*{
  text-align: center;
}
.register{
  display: block;
}
.register input{
  width: 400px;
  height: 35px;
}
.register label{
  font-size: 24px;
  font-weight: 600;
}
.registerbody{
  background-color: gray;
  height: 500px;
}
